# Rename this file to 'htpasswd' to enable Basic Authentication
# You can use the included script to generate new passwords:
#
#   docker exec -it YOUR_CONTAINER htpasswd-gen USERNAME PASSWORD
#
# NOTE: You will still need to manually copy-paste the content
#   into your htpasswd file. :)

# Default - admin:admin
admin:{SSHA}btdP0jXDQ07WE2j8309fstjzo55yUlli
